<div class="top-bar">
    <app-top-navbar></app-top-navbar>
</div>

<div class="painel">   
    <div class="row height-100">
        <div class="col-lg-1">
            <app-side-navbar></app-side-navbar>
        </div>
        <div class="col-lg-2">
           <div>
                <app-card-user></app-card-user>
           </div>
           <div>
                <app-card-friend></app-card-friend>
                <app-card-friend></app-card-friend>
                <app-card-friend></app-card-friend>
                <app-card-friend></app-card-friend>
           </div>
        </div>
        <div class="col-lg-9">
            
        </div>
    </div>
</div>