<div class="card-friend">
    <div class="container">
        <div class="row">

            <div class="col-lg-1">
                <div class="card-friend-image">
                    <app-user-image></app-user-image>
                </div>
            </div>

            <div class="col-lg-11">
                <div class="card-friend-information">
                    <span>Brenno caldas</span>
                    <p>Maneger</p>
                </div>
            </div>

        </div>
    </div>
</div>
